.b1{
  padding: 100px;
  padding-left:200px;
  background-color: #041C32;
}
.font1{
  color: #6FEDD6;
  font-family: 'Secular One', sans-serif;
}
.font5{
  color: #B2B2B2;
  font-family: 'Secular One', sans-serif;
}
